@page "/schedule"

<div>

	<section class="smooth-effect" style="margin-bottom: 24px;">
		<h1>Schedule</h1>
        The list of sessions is currently being prepared. Sessions and times are subject to change.
    </section>

    @if (DataBase.PreviewMode)
    {
        <div>
            @DataBase.BrowserTimeZone (@DataBase.UtcOffset)
        </div>
    }

    @foreach (var session in Sessions)
    {
        <SessionCard Id="@session.Id" />
    }

    <FluentDivider Margin="24px;">End</FluentDivider>

</div>
