@page "/speakers"

<div>
    <h1>Speakers</h1>

	<p class="lead">
		Meet our first announced speakers. Stay tuned for more!
	</p>


    <FluentGrid Spacing="4">

        @foreach (var speaker in Speakers)
        {
            <FluentGridItem Xs="12" Sm="6" Md="4" Lg="3">
                <SpeakerCard Id="@speaker.Id" />
            </FluentGridItem>
        }

    </FluentGrid>

</div>
