::deep .fluent-grid > div {
  justify-items: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow8);
  padding: 24px;
  margin: 12px;
  width: 400px;
  height: 320px;
}

  .team-member ::deep img {
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
  }
