@page "/code-conduct"
					  
	<h3 class="smooth-effect">Code of Conduct</h3>

<b>Code of conduct for the conference.</b>
<p>
    All participants, speakers, sponsors and volunteers for our conference must accept the following code of conduct.
    The organizers will endeavor to enforce this code during the event. We expect every participant to cooperate in ensuring a healthy environment for all.
</p>

<b>The quick version</b>
<p>
    Our conference is intended to be a harassment-free experience, regardless of your gender, gender identity, age, sexual orientation, disability,
    physical appearance, weight, race or religion. We do not tolerate harassment of conference participants in any form. Sexual language and images
    are not appropriate at the event. This includes conferences, workshops, parties, Twitter and other online media. Conference participants who violate
    these rules may be sanctioned or even excluded from the conference without refund at the discretion of the conference organizers.
</p>

<b>The slower version</b>
<p>
    Harassment includes oral comments about gender, gender identity, age, sexual orientation, disability, physical appearance, weight, race, religion, sexually
    suggestive images in public places, deliberate intimidation, stalking, stalking, photographic or video harassment, continued interruption of conferences and
    other events, inappropriate physical contact, and unwanted sexual advances.
</p>
<p>
    Participants who are asked to stop any harassing behavior must stop immediately.
</p>
<p>
    Sponsors are also subject to the anti-harassment policy. In particular, sponsors must not use any images or materials with sexual connotations.
    They also may not engage in any sexually oriented activities. Booth staff (including volunteers) must not use sexually explicit clothing, uniforms or costumes.
    They must also not create a sexualized environment.
</p>
<p>
    If a participant engages in harassing behavior, conference organizers may take any action they feel is appropriate.
    This can range from a simple warning to removing the participant from the conference without refund.
</p>
<p>
    If you feel harassed, if you think someone is being harassed, and more generally if you have a problem, please contact a member of the event organization
    immediately via <a href="mailto:team@blazorday.net">team@blazorday.net</a>.
</p>
<p>
    We appreciate your participation in the event.
</p>
<p>
    We expect participants to follow these rules in the conference and workshop building, as well as during social events related to the conference.
</p>

<p>
    This text has been taken from the initiative
    <a href="https://github.com/confcodeofconduct/confcodeofconduct.com" target="_blank">https://github.com/confcodeofconduct/confcodeofconduct.com</a>
</p>
