.nav-menu[position='top'] {
  display: flex;
}

  .nav-menu[position='top'] ::deep fluent-button {
    padding: 0;
    color: var(--colorNeutralBackground1);
    font-size: medium;
  }

    .nav-menu[position='top'] ::deep fluent-button:hover {
      text-decoration: underline;
    }

  .nav-menu[position='top'] ::deep fluent-button:focus-visible {
    box-shadow: var(--shadow4), 0 0 0 2px white;
  }

.nav-menu[position='hamburger'] {
  margin-top: 24px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
}

  .nav-menu[position='hamburger'] ::deep fluent-button {
    justify-content: left;
    color: var(--colorBrandBackground);
    font-size: medium;
  }

    .nav-menu[position='hamburger'] ::deep fluent-button:hover {
      text-decoration: underline;
    }

.fluent-layout[mobile] .nav-menu[position='top'] {
  display: none;
}
